## loop?

In [1]:
i = 0
while i<=10:
    print("Hello world")
    i += 1

Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world

In [2]:
l = [1,2,3,4,5,6]

In [3]:
5 in l

True

In [4]:
print(l)

[1, 2, 3, 4, 5, 6]

In [5]:
print(*l)

1 2 3 4 5 6

In [7]:
print(l)

[1, 2, 3, 4, 5, 6]

In [8]:
print(*121)

TypeError: print() argument after * must be an iterable, not int

In [9]:
print(*"string")

s t r i n g

In [10]:
print(*(1,2,3,4,5))

1 2 3 4 5

In [11]:
print(*{1,2,3,4,5})

1 2 3 4 5

In [12]:
l

[1, 2, 3, 4, 5, 6]

In [13]:
l[5]

6

In [14]:
l[4]

5

In [15]:
d = {'key1':'value1','key2':'value2'}

In [16]:
d

{'key1': 'value1', 'key2': 'value2'}

In [17]:
print(*d)

key1 key2

In [18]:
l

[1, 2, 3, 4, 5, 6]

In [19]:
for i in l:
    print(i)

1
2
3
4
5
6

In [20]:
for i in l:
    print(i)
    print(i*2)
    print(i*3)
    print()
print("hello world")

1
2
3

2
4
6

3
6
9

4
8
12

5
10
15

6
12
18

hello world

In [21]:
for i in "string":
    print(i*2)

ss
tt
rr
ii
nn
gg

In [22]:
l

[1, 2, 3, 4, 5, 6]

In [23]:
for i in l:
    if i%2 == 0:
        print(i)

2
4
6

In [29]:
print("hello world","hi","how are you",sep=",")

hello world,hi,how are you

In [27]:
print("hello world",end=",")
print("hi",end="-->")
print("how are you")

hello world,hi-->how are you

In [30]:
for i in l:
    if i%2 == 0:
        print(i,end=",")

2,4,6,

In [31]:
for i in (1,2,3,4,5):
    print(i**2)

1
4
9
16
25

In [33]:
for i in [1,2,"hello","world",5]:
    print("hello world")

hello world
hello world
hello world
hello world
hello world

In [34]:
a,b = 10,12

In [35]:
a

10

In [36]:
b

12

In [37]:
a,b,c =[1,2,3]

In [38]:
a

1

In [39]:
b

2

In [40]:
c

3

In [42]:
for v1,v2 in [["hello","world"]]:
    print("value 1 : ",v1)
    print("value 2 : ",v2)

value 1 :  hello
value 2 :  world

In [44]:
for v1,v2 in [["hello","world"],(1,2),"im",["how","are"]]:
    print("value 1 : ",v1)
    print("value 2 : ",v2)
    print()

value 1 :  hello
value 2 :  world

value 1 :  1
value 2 :  2

value 1 :  i
value 2 :  m

value 1 :  how
value 2 :  are

In [45]:
for i,j in [[1,2],[1,2],[3,4],[4,5]]:
    print(i,j)

1 2
1 2
3 4
4 5

In [46]:
d

{'key1': 'value1', 'key2': 'value2'}

In [47]:
d = {'name':['stuti','govind'],'course':['python','aws'],'fees':[10000,15000]}

In [48]:
d

{'name': ['stuti', 'govind'],
 'course': ['python', 'aws'],
 'fees': [10000, 15000]}

In [49]:
d['name']

['stuti', 'govind']

In [50]:
d['course']

['python', 'aws']

In [51]:
d['fees']

[10000, 15000]

In [52]:
d.items()

dict_items([('name', ['stuti', 'govind']), ('course', ['python', 'aws']), ('fees', [10000, 15000])])

In [53]:
for var in d.items():
    print(var)

('name', ['stuti', 'govind'])
('course', ['python', 'aws'])
('fees', [10000, 15000])

In [54]:
for var in d.items():
    print(var[0],"=",var[1])

name = ['stuti', 'govind']
course = ['python', 'aws']
fees = [10000, 15000]

In [55]:
for key,value in d.items():
    print(key,"=",value)

name = ['stuti', 'govind']
course = ['python', 'aws']
fees = [10000, 15000]

In [56]:
for i in 12:
    print(i)

TypeError: 'int' object is not iterable

In [57]:
l

[1, 2, 3, 4, 5, 6]

In [58]:
for i in l:
    print("hello")

hello
hello
hello
hello
hello
hello

In [59]:
r = range(8)

In [60]:
print(type(r))

<class 'range'>

In [61]:
r

range(0, 8)

In [62]:
print(*r)

0 1 2 3 4 5 6 7

In [63]:
print(*range(0,8,-1))

In [64]:
print(*range(-1,-8))

In [65]:
print(*range(8,0,-1))

8 7 6 5 4 3 2 1

In [66]:
print(*range(101,0,-2))

101 99 97 95 93 91 89 87 85 83 81 79 77 75 73 71 69 67 65 63 61 59 57 55 53 51 49 47 45 43 41 39 37 35 33 31 29 27 25 23 21 19 17 15 13 11 9 7 5 3 1

In [67]:
print(*range(100,0,-2))

100 98 96 94 92 90 88 86 84 82 80 78 76 74 72 70 68 66 64 62 60 58 56 54 52 50 48 46 44 42 40 38 36 34 32 30 28 26 24 22 20 18 16 14 12 10 8 6 4 2

In [69]:
print(*range(100,0,-2),sep=",")

100,98,96,94,92,90,88,86,84,82,80,78,76,74,72,70,68,66,64,62,60,58,56,54,52,50,48,46,44,42,40,38,36,34,32,30,28,26,24,22,20,18,16,14,12,10,8,6,4,2

In [70]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [71]:
for i in range(0,10,2):
    print(i**2)

0
4
16
36
64

In [72]:
for i in range(30):
    print(i//2,end=",")

0,0,1,1,2,2,3,3,4,4,5,5,6,6,7,7,8,8,9,9,10,10,11,11,12,12,13,13,14,14,

In [73]:
for i in range(30):
    if i%2 == 0:
        print("Even")
    else:
        print("Odd")

Even
Odd
Even
Odd
Even
Odd
Even
Odd
Even
Odd
Even
Odd
Even
Odd
Even
Odd
Even
Odd
Even
Odd
Even
Odd
Even
Odd
Even
Odd
Even
Odd
Even
Odd

In [75]:
even = 0
odd = 0
for i in [1,2,3,10,20,30,45,60,78,90,34,56,44,34,77]:
    if i%2 == 0:
        even += 1
    else:
        odd += 1
        
print("Total even numbers are : ",even)
print("Total odd numbers are : ",odd)

Total even numbers are :  11
Total odd numbers are :  4

In [76]:
#print sum of squares of elements [1,2,3,10,20,30,45,60,78,90,34,56,44,34,77]
s = 0
for i in [1,2,3,10,20,30,45,60,78,90,34,56,44,34,77]:
    s += (i**2)
    
print("The sum of square of elements is : ",s)

The sum of square of elements is :  34536

In [77]:
#print sum of squares of elements [1,2,3,10,20,30,45,60,78,90,34,56,44,34,77]
s = 0
for i in [1,2,3,10,20,30,45,60,78,90,34,56,44,34,77]:
    s += (i**2)
    
else:
    print("Done.......")
    

print("The sum of square of elements is : ",s)

Done.......
The sum of square of elements is :  34536

In [78]:
even = 0
for i in [2,10,20,30,45,60,78,90,34,56,44,34,77]:
    if i%2 == 0:
        even += 1
    else:
        break
        
print("Total even numbers till odd number came is : ",even)

Total even numbers till odd number came is :  4

In [79]:
even = 0
for i in [2,10,20,30,45,60,78,90,34,56,44,34,77]:
    if i%2 == 0:
        even += 1
    else:
        break

else:
    print("Done.....")
        
print("Total even numbers till odd number came is : ",even)

Total even numbers till odd number came is :  4

In [81]:
even = 0
for i in range(int(input("Enter total number of inputs : "))):
    n = int(input("Enter any number : "))
    if n%2 == 0:
        even += 1
    else:
        print("No further calculation")
        break
else:
    print("Done....")

    
print("Total even numbers are : ",even)

Enter total number of inputs : 5
Enter any number : 2
Enter any number : 4
Enter any number : 6
Enter any number : 8
Enter any number : 10
Done....
Total even numbers are :  5

In [82]:
even = 0
for i in range(int(input("Enter total number of inputs : "))):
    n = int(input("Enter any number : "))
    if n%2 == 0:
        even += 1
    else:
        print("No further calculation")
        break
else:
    print("Done....")

    
print("Total even numbers are : ",even)

Enter total number of inputs : 5
Enter any number : 2
Enter any number : 4
Enter any number : 7
No further calculation
Total even numbers are :  2

In [83]:
for i in [10,20,30,40,2,77,89,90]:
    if i%2 == 0:
        continue
    print(i)

77
89

In [84]:
for i in [10,20,30,40,2,77,89,90]:
    if (i**2)%5 == 0:
        print(i)
    else:
        continue

10
20
30
40
90

In [85]:
n = int(input("Enter any number : "))
f = 1
for i in range(n,1,-1):
    f *= i
    
print("The factorial of {} is {}".format(n,f))

Enter any number : 5
The factorial of 5 is 120

In [94]:
%%timeit

n = int(input("Enter any number : "))
start = 2
for i in range(2,n):
    if n%i == 0:
        print("Number is not prime")
        break
else:
    print("Number is prime")

Enter any number : 5
Number is prime
Enter any number : 7
Number is prime
Enter any number : 11
Number is prime
Enter any number : 9
Number is not prime
Enter any number : 2
Number is prime
Enter any number : 7
Number is prime
Enter any number : 11
Number is prime
Enter any number : 13
Number is prime
The slowest run took 4.06 times longer than the fastest. This could mean that an intermediate result is being cached.
1.99 s ± 826 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [89]:
import math

In [90]:
print(dir(math))

['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'ceil', 'copysign', 'cos', 'cosh', 'degrees', 'e', 'erf', 'erfc', 'exp', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'pi', 'pow', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc']

In [91]:
math.sqrt(9)

3.0

In [96]:
%%timeit

n = int(input("Enter any number : "))
stop = int(math.sqrt(n))
for i in range(2,stop+1):
    if n%i == 0:
        print("Number is not prime")
        break
else:
    print("Number is prime")

Enter any number : 5
Number is prime
Enter any number : 7
Number is prime
Enter any number : 11
Number is prime
Enter any number : 9
Number is not prime
Enter any number : 2
Number is prime
Enter any number : 7
Number is prime
Enter any number : 11
Number is prime
Enter any number : 13
Number is prime
The slowest run took 11.30 times longer than the fastest. This could mean that an intermediate result is being cached.
1.67 s ± 1.71 s per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [97]:
l1 = [1,2,3,4,5]
l2 = [8,9,10,11,12]

In [98]:
zip(l1,l2)

In [99]:
print(*zip(l1,l2))

(1, 8) (2, 9) (3, 10) (4, 11) (5, 12)

In [100]:
names = ['simran','govind','rajan','stuti']
password = ['password','pass','admin','adminadmin']

In [101]:
print(list(zip(names,password)))

[('simran', 'password'), ('govind', 'pass'), ('rajan', 'admin'), ('stuti', 'adminadmin')]

In [103]:
for u,p in zip(names,password):
    print("The username {} has password {}".format(u.upper(),p.upper()))

The username SIMRAN has password PASSWORD
The username GOVIND has password PASS
The username RAJAN has password ADMIN
The username STUTI has password ADMINADMIN

In [104]:
l

[1, 2, 3, 4, 5, 6]

In [105]:
l1 = enumerate(l)

In [106]:
print(type(l1))

<class 'enumerate'>

In [107]:
print(*l1)

(0, 1) (1, 2) (2, 3) (3, 4) (4, 5) (5, 6)

In [108]:
lang = ['python','java','php','c++','ruby','html','xml']

In [110]:
for index,ele in enumerate(lang):
    print("The element {} is at index {}".format(ele.upper(),index))

The element PYTHON is at index 0
The element JAVA is at index 1
The element PHP is at index 2
The element C++ is at index 3
The element RUBY is at index 4
The element HTML is at index 5
The element XML is at index 6

In [111]:
##fibonacci using for loop

In [114]:
for i in range(5):
    print("Row--->",i,end=" ")
    for j in range(5):
        print(j,end=",")
    print()

Row---> 0 0,1,2,3,4,
Row---> 1 0,1,2,3,4,
Row---> 2 0,1,2,3,4,
Row---> 3 0,1,2,3,4,
Row---> 4 0,1,2,3,4,