## List

1. Ordered
2. Sequential
3. Mutable
4. Consists of elements of different data type
5. Nested lists are possible

In [1]:
l = [] #initialize an empty list
l2 = [1,2,3,4]  #homoegenous list
l3 = [1,2,3,"string",7.7]  #heterogenous list
l4 = ["name","place","animal",[1,2,3]]  #nested list

In [2]:
type(l)

list

In [4]:
type(l2)

list

In [6]:
type(l3)

list

In [7]:
type(l4)

list

In [8]:
len(l2)

4

In [9]:
l2

[1, 2, 3, 4]

In [10]:
l2[3]

4

In [11]:
l2[3] = "string" #mutable

In [12]:
l2

[1, 2, 3, 'string']

In [13]:
l2[0]

1

In [14]:
#concatenation

l = l + l2

In [15]:
l

[1, 2, 3, 'string']

In [16]:
l

[1, 2, 3, 'string']

In [17]:
l2

[1, 2, 3, 'string']

In [18]:
l3

[1, 2, 3, 'string', 7.7]

In [20]:
l = l2+l3

In [21]:
l

[1, 2, 3, 'string', 1, 2, 3, 'string', 7.7]

In [22]:
a = [1]*10  #repitition

In [23]:
a

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [25]:
l.__len__()

9

In [26]:
len(l)

9

In [27]:
l

[1, 2, 3, 'string', 1, 2, 3, 'string', 7.7]

In [28]:
l[::]

[1, 2, 3, 'string', 1, 2, 3, 'string', 7.7]

In [29]:
l[::-1]

[7.7, 'string', 3, 2, 1, 'string', 3, 2, 1]

In [30]:
l[4:]

[1, 2, 3, 'string', 7.7]

In [32]:
l[:-10:-1]

[7.7, 'string', 3, 2, 1, 'string', 3, 2, 1]

In [33]:
l[:9:2]

[1, 3, 1, 3, 7.7]

In [34]:
l

[1, 2, 3, 'string', 1, 2, 3, 'string', 7.7]

In [36]:
l[-1:0:-1]

[7.7, 'string', 3, 2, 1, 'string', 3, 2]

In [37]:
l[-2:3:-1]

['string', 3, 2, 1]

In [38]:
print(dir(l))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [39]:
l2

[1, 2, 3, 'string']

In [40]:
l3

[1, 2, 3, 'string', 7.7]

In [41]:
l2.__add__(l3)

[1, 2, 3, 'string', 1, 2, 3, 'string', 7.7]

<h1 style='color:red'>Functions to add elements<h1>

1. append
2. insert
3. extend

In [42]:
l4

['name', 'place', 'animal', [1, 2, 3]]

In [44]:
l4[3][2]

3

Append

In [46]:
n = int(input("Enter any element : "))
l.append(n)

Enter any element : 10

In [47]:
l

[1, 2, 3, 'string', 1, 2, 3, 'string', 7.7, 10]

In [48]:
l.append(["hindi","english"])

In [49]:
l

[1, 2, 3, 'string', 1, 2, 3, 'string', 7.7, 10, ['hindi', 'english']]

Insert

In [50]:
l[3]

'string'

In [51]:
l.insert(3,123)  #(index,item)

In [52]:
l

[1, 2, 3, 123, 'string', 1, 2, 3, 'string', 7.7, 10, ['hindi', 'english']]

In [54]:
l[3] = "123"

In [55]:
l[4] = 123

In [56]:
l

[1, 2, 3, '123', 123, 1, 2, 3, 'string', 7.7, 10, ['hindi', 'english']]

In [57]:
l.insert(5,"hello world")

In [59]:
print(l)

[1, 2, 3, '123', 123, 'hello world', 1, 2, 3, 'string', 7.7, 10, ['hindi', 'english']]

Extend

In [60]:
a = []
a.extend("python")

In [61]:
a

['p', 'y', 't', 'h', 'o', 'n']

In [64]:
l2.append(["name","place"])

In [65]:
l2

[1, 2, 3, 'string', ['name', 'place']]

In [66]:
a.extend(['name','place'])

In [67]:
a

['p', 'y', 't', 'h', 'o', 'n', 'name', 'place']

In [68]:
a.extend([['name','place']])

In [69]:
a

['p', 'y', 't', 'h', 'o', 'n', 'name', 'place', ['name', 'place']]

In [70]:
lang = []

In [71]:
lang.extend(['python','java','c','c++','ruby','pascal'])

In [72]:
lang

['python', 'java', 'c', 'c++', 'ruby', 'pascal']

In [73]:
lang[1]

'java'

In [74]:
lang[-1]

'pascal'

In [75]:
lang.append(['hindi','english'])

In [76]:
lang

['python', 'java', 'c', 'c++', 'ruby', 'pascal', ['hindi', 'english']]

In [77]:
lang[-1][1]

'english'

<h1 style='color:red'>Functions to remove elements</h1>

1. pop
2. pop(index)
3. remove(item)

In [78]:
l

[1,
 2,
 3,
 '123',
 123,
 'hello world',
 1,
 2,
 3,
 'string',
 7.7,
 10,
 ['hindi', 'english']]

In [79]:
lang

['python', 'java', 'c', 'c++', 'ruby', 'pascal', ['hindi', 'english']]

In [80]:
lang.pop()

['hindi', 'english']

In [81]:
lang

['python', 'java', 'c', 'c++', 'ruby', 'pascal']

In [82]:
lang.pop()

'pascal'

In [83]:
lang

['python', 'java', 'c', 'c++', 'ruby']

In [84]:
lang.pop(2)

'c'

In [85]:
lang

['python', 'java', 'c++', 'ruby']

In [86]:
lang.remove("ruby")

In [87]:
lang

['python', 'java', 'c++']

In [90]:
a = input("Enter any programming language to add : ")
lang.append(a)

print("The list of languages now is : ",lang)
print("\n")
item = input("Enter any language you want to delete from the list of above lang: ")
lang.remove(item)
#print("\n The deleted item is : ",deleted)
print("\n Now the list is : ",lang)

Enter any programming language to add : c
The list of languages now is :  ['python', 'java', 'pascal', 'c', 'c']


Enter any language you want to delete from the list of above lang: c

 Now the list is :  ['python', 'java', 'pascal', 'c']

<h1 style='color:red'> Common Functions </h1>

In [91]:
print(dir(l))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

1. Clear
2. Copy
3. Count
4. Index
5. Sort
6. Reverse

In [92]:
l

[1,
 2,
 3,
 '123',
 123,
 'hello world',
 1,
 2,
 3,
 'string',
 7.7,
 10,
 ['hindi', 'english']]

In [94]:
l2.clear()

In [95]:
l2

[]

In [96]:
print(l)

[1, 2, 3, '123', 123, 'hello world', 1, 2, 3, 'string', 7.7, 10, ['hindi', 'english']]

In [97]:
l.count(3)

2

In [98]:
l.count(1)

2

In [99]:
l.count("hello world")

1

In [100]:
l.count("abc")

0

In [101]:
lang

['python', 'java', 'pascal', 'c']

In [102]:
lang.index("pascal")

2

In [103]:
l

[1,
 2,
 3,
 '123',
 123,
 'hello world',
 1,
 2,
 3,
 'string',
 7.7,
 10,
 ['hindi', 'english']]

In [104]:
l.index(3)

2

In [105]:
print(l)

[1, 2, 3, '123', 123, 'hello world', 1, 2, 3, 'string', 7.7, 10, ['hindi', 'english']]

In [107]:
l.sort()  #homogenous list will be sorted only

TypeError: '<' not supported between instances of 'str' and 'int'

In [109]:
lang.sort()

In [110]:
lang

['c', 'java', 'pascal', 'python']

In [111]:
lang.sort(reverse=True)

In [112]:
lang

['python', 'pascal', 'java', 'c']

In [116]:
newlist = [
    ['simran',1001,'python'],
    ['rahul',1002,'data science'],
    ['aman',1003,'aws'],
    ['aman',1001,'python'],
    ['bhavi',1004,'cloud']
]

In [117]:
newlist.sort()

In [118]:
newlist

[['aman', 1001, 'python'],
 ['aman', 1003, 'aws'],
 ['bhavi', 1004, 'cloud'],
 ['rahul', 1002, 'data science'],
 ['simran', 1001, 'python']]

In [119]:
lang

['python', 'pascal', 'java', 'c']

In [120]:
lang[::-1]

['c', 'java', 'pascal', 'python']

In [121]:
lang.reverse()

In [122]:
lang

['c', 'java', 'pascal', 'python']

In [123]:
l2 = lang.copy()
l3 = lang

In [124]:
lang

['c', 'java', 'pascal', 'python']

In [125]:
l2

['c', 'java', 'pascal', 'python']

In [126]:
l3

['c', 'java', 'pascal', 'python']

In [127]:
id(lang)

2331135826696

In [128]:
id(l2)

2331161729288

In [129]:
id(l3)

2331135826696

In [130]:
lang.append("ruby")

In [131]:
lang

['c', 'java', 'pascal', 'python', 'ruby']

In [132]:
l2

['c', 'java', 'pascal', 'python']

In [133]:
l3

['c', 'java', 'pascal', 'python', 'ruby']

In [134]:
print("***You can add and delete item to a list in this program***\n")

print("The list is : ",lang)

a = input("Enter any element to add in to a list : ")

lang.append(a)

print("\nNow the list is : ",lang)

item = input("\nEnter the item you want to delete from the list : ")

i = lang.index(item)

print("\nThe deleted item is : ",lang.pop(i))

print("\n Now the list is : ",lang)

***You can add and delete item to a list in this program***

The list is :  ['c', 'java', 'pascal', 'python', 'ruby']
Enter any element to add in to a list : c++

Now the list is :  ['c', 'java', 'pascal', 'python', 'ruby', 'c++']

Enter the item you want to delete from the list : c

The deleted item is :  c

 Now the list is :  ['java', 'pascal', 'python', 'ruby', 'c++']

In [135]:
data = [
    [1001,1002,1003,1004],
    ['simran','stuti','pradeep','amaan'],
    ['python','data science','advance python','aws'],
    [10000,15000,10000,15000]
]

In [137]:
data[0]

[1001, 1002, 1003, 1004]

In [144]:
n = int(input("Enter any roll number : "))
i = data[0].index(n)
print("Name : ",data[1][i])
print("Course : ",data[2][i])
print("Fees : ",data[3][i])

Enter any roll number : 1003
Name :  pradeep
Course :  advance python
Fees :  10000

In [139]:
i

0

In [142]:
data[3][i]

10000