In [3]:
4%2

0

In [8]:
pwd

'C:\\batches\\sat_sunbatch'

In [9]:
%%writefile checkprime.py

n = int(input("Enter any number : "))
s = 2
while s<n:
    if n%s == 0:
        print(f"{n} Number is not prime...")
        break
    s += 1
else:
    print(f"{n} is prime")

Writing checkprime.py

In [19]:
%%timeit


n = int(input("Enter any number : "))
s = 2
while s<n:
    if n%s == 0:
        print(f"{n} Number is not prime...")
        break
    s += 1
else:
    print(f"{n} is prime")

Enter any number : 7
7 is prime
Enter any number : 4
4 Number is not prime...
Enter any number : 6
6 Number is not prime...
Enter any number : 3
3 is prime
Enter any number : 10
10 Number is not prime...
Enter any number : 11
11 is prime
Enter any number : 34
34 Number is not prime...
Enter any number : 67
67 is prime
The slowest run took 5.40 times longer than the fastest. This could mean that an intermediate result is being cached.
2.38 s ± 1.59 s per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [11]:
import math

In [12]:
print(dir(math))

['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'ceil', 'copysign', 'cos', 'cosh', 'degrees', 'e', 'erf', 'erfc', 'exp', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'pi', 'pow', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc']

In [20]:
%%timeit

#another method to check prime or not prime

n = int(input("Enter any number : "))
s = 2
end = math.sqrt(n)
while s<=end:
    if n%s == 0:
        print(f"{n} Number is not prime...")
        break
    s += 1
else:
    print(f"{n} is prime")

Enter any number : 7
7 is prime
Enter any number : 4
4 Number is not prime...
Enter any number : 6
6 Number is not prime...
Enter any number : 3
3 is prime
Enter any number : 10
10 Number is not prime...
Enter any number : 11
11 is prime
Enter any number : 34
34 Number is not prime...
Enter any number : 67
67 is prime
The slowest run took 8.97 times longer than the fastest. This could mean that an intermediate result is being cached.
1.8 s ± 1.61 s per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [30]:
%%writefile checkprimenum.py

import math
start = int(input("Enter start number : "))
end = int(input("Enter end number : "))
l = []
while start<=end:
    print(start,end=',')
    s = 2
    while s<=math.sqrt(start):
        if start%s == 0:
            break
        s += 1
    else:
        if start == 2:
            pass
        else:
            l.append(start)
    start += 1
print()
print(*l)

Overwriting checkprimenum.py

In [25]:
math.sqrt(21)

4.58257569495584

In [23]:
import math
start = int(input("Enter start number : "))
end = int(input("Enter end number : "))
l = []
while start<=end:
    print(start,end=',')
    s = 2
    while s<=math.sqrt(start):
        if start%s == 0:
            break
        s += 1
    else:
           l.append(start)
    start += 1
print()
print(*l)

Enter start number :

ValueError: invalid literal for int() with base 10: ''

In [31]:
import pandas as pd

In [57]:
df = pd.DataFrame({
    'name' : ['simran','stuti','rahul','manish'],
    'marks' : [10,20,0,0]
})

In [58]:
df

     name  marks
0  simran     10
1   stuti     20
2   rahul      0
3  manish      0

In [59]:
m  = df['marks'].mean()

In [ ]:
df['marks']

In [60]:
df[df['marks'] == 0].loc[:,'marks'] = m

C:\Anaconda\lib\site-packages\pandas\core\indexing.py:494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [61]:
df

     name  marks
0  simran     10
1   stuti     20
2   rahul      0
3  manish      0

In [68]:
df[(df['marks'] == 0)]

     name  marks
2   rahul      0
3  manish      0