## Sets

In [1]:
s = {1,2,3}

In [2]:
print(type(s))

<class 'set'>

In [3]:
a = {}

In [4]:
print(type(a))

<class 'dict'>

In [5]:
a['key'] = 'value'

In [6]:
a

{'key': 'value'}

In [7]:
a = {1,2,3,3,4,4,5,6}

In [8]:
a

{1, 2, 3, 4, 5, 6}

In [9]:
print(type(a))

<class 'set'>

In [10]:
print(dir(a))

['__and__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [11]:
s1 = {1,2,3,4}
s2 = {3,2,4,1}

In [12]:
s1

{1, 2, 3, 4}

In [13]:
s2

{1, 2, 3, 4}

In [14]:
s1.isdisjoint(s2)

False

In [15]:
s2 = {10,20,30}

In [16]:
s1.isdisjoint(s2)

True

In [17]:
s = set((1,2,3,3,4,5,5,6,7,8))

In [18]:
s

{1, 2, 3, 4, 5, 6, 7, 8}

In [19]:
type(s)

set

In [20]:
s1

{1, 2, 3, 4}

In [23]:
s2.add(2)

In [24]:
s2

{2, 10, 20, 30}

In [25]:
s2.add(4)

In [26]:
s2

{2, 4, 10, 20, 30}

In [27]:
s1.intersection(s2)

{2, 4}

In [28]:
s1.union(s2)

{1, 2, 3, 4, 10, 20, 30}

In [29]:
s1.intersection_update(s2)

In [30]:
s1

{2, 4}

In [31]:
s

{1, 2, 3, 4, 5, 6, 7, 8}

In [32]:
s2

{2, 4, 10, 20, 30}

In [33]:
s.difference(s2)

{1, 3, 5, 6, 7, 8}

In [34]:
s2.difference(s)

{10, 20, 30}

In [35]:
s2.symmetric_difference(s)

{1, 3, 5, 6, 7, 8, 10, 20, 30}

In [36]:
s

{1, 2, 3, 4, 5, 6, 7, 8}

In [37]:
s2

{2, 4, 10, 20, 30}

In [38]:
s.symmetric_difference(s2)

{1, 3, 5, 6, 7, 8, 10, 20, 30}

In [39]:
s

{1, 2, 3, 4, 5, 6, 7, 8}

In [40]:
s.remove(8)

In [41]:
s

{1, 2, 3, 4, 5, 6, 7}

In [42]:
s.pop()

1

In [43]:
s

{2, 3, 4, 5, 6, 7}

In [44]:
s.pop()

2

In [45]:
s

{3, 4, 5, 6, 7}

In [46]:
s.issubset(s2)

False

In [47]:
s3 = {1,2,3,4}
s4 = {1,2,3,4,10,20,30}

In [48]:
s3.issubset(s4)

True

In [49]:
s4.issubset(s3)

False

In [50]:
s4.issuperset(s3)

True

In [51]:
s = set(input("Enter what you want : "))

Enter what you want : jaipur

In [52]:
s

{'a', 'i', 'j', 'p', 'r', 'u'}

In [55]:
a = set(['jaipur'])

In [56]:
a

{'jaipur'}

In [57]:
a = set(('jaipur',))

In [58]:
a

{'jaipur'}

In [61]:
a.add('delhi')  #mutable

In [62]:
a

{'delhi', 'jaipur'}

In [66]:
set1 = frozenset((1,2,3,4,5))  #immutable

In [64]:
set1

frozenset({1, 2, 3, 4, 5})

In [65]:
print(type(set1))

<class 'frozenset'>

In [67]:
print(dir(set1))

['__and__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'copy', 'difference', 'intersection', 'isdisjoint', 'issubset', 'issuperset', 'symmetric_difference', 'union']

In [68]:
set1.add(10)

AttributeError: 'frozenset' object has no attribute 'add'

In [69]:
set2 = frozenset((10,2,0,3,40,50))

In [70]:
type(set2)

frozenset

In [71]:
set1.intersection(set2)

frozenset({2, 3})

In [72]:
set1.union(set2)

frozenset({0, 1, 2, 3, 4, 5, 10, 40, 50})

In [73]:
set1.difference(set2)

frozenset({1, 4, 5})

In [74]:
set1.symmetric_difference(set2)

frozenset({0, 1, 4, 5, 10, 40, 50})

In [75]:
#set1 as input
#set2 as input
#print the union,intersection,difference(both way),symmteric difference
#take an element as input and add it to your set1
#take element as input and remove that element from set2

In [77]:
set1.intersection

frozenset({1, 2, 3, 4, 5})

In [1]:
s1 = set(input("Enter any thing : "))
s2 = set(input("Enter any things : "))
print("Union : ",s1.union(s2))
print("Intersection : ",s1.intersection(s2))

Enter any thing :
Enter any things :
Union :  set()
Intersection :  set()

## Operators

In [2]:
a = 12
b = 23

In [3]:
type(a)

int

In [4]:
type(b)

int

In [5]:
a+b

35

In [6]:
a-b

-11

In [7]:
a*b

276

In [11]:
a/b   #absolute division

0.5217391304347826

In [12]:
a//b   #floor division

0

In [13]:
a**2

144

In [14]:
a

12

In [15]:
a**3

1728

In [17]:
a%2

0

In [18]:
29%2

1

In [21]:
"string1" + "string2"

'string1string2'

In [22]:
"string1" - "string2"

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [24]:
"string"*34

'stringstringstringstringstringstringstringstringstringstringstringstringstringstringstringstringstringstringstringstringstringstringstringstringstringstringstringstringstringstringstringstringstringstring'

In [23]:
"string1"*"string2"

TypeError: can't multiply sequence by non-int of type 'str'

In [42]:
a = 10
a += 1

In [43]:
a

11

In [44]:
a -= 1
a

10

In [45]:
a*= 10
a

100

In [47]:
a /=3
a

11.111111111111112

In [16]:
#logical operators

In [19]:
#and
#or
#not

In [20]:
#True or False

In [25]:
"string1" and "string2"

'string2'

In [26]:
0 and 1

0

In [27]:
10 and 12

12

In [28]:
True and False

False

In [29]:
True and True

True

In [30]:
24 and 0

0

In [31]:
0 or 1

1

In [32]:
0 or False

False

In [33]:
10 or None

10

In [34]:
0 or None

In [35]:
not True

False

In [36]:
not "string"

False

In [37]:
not 0

True

In [38]:
not 10

False

In [39]:
not False

True

In [40]:
not 0

True

In [41]:
## Comparison Operators

In [48]:
a = 20
b = 100

In [49]:
a<b

True

In [50]:
a>b

False

In [51]:
a<=b

True

In [52]:
a==b

False

In [53]:
100==b

True

In [54]:
a>=b

False

In [55]:
l1 = [1,2,3,4]
l2 = [10,20,30,40,50]

In [56]:
l1<l2

True

In [57]:
l2<l1

False

In [59]:
"hello world" < "string"

True

In [60]:
l1 = [1,2,3,4,5]
l2 = [1,2,3]

In [61]:
l2<l1

True

In [62]:
"string1" == "string2"

False

In [63]:
"string1" != "string2"

True

In [64]:
"string" == "string"

True

In [65]:
ord('A')

65

In [66]:
ord(' ')

32

In [67]:
ord('a')

97

In [68]:
chr(65)

'A'

In [69]:
chr(32)

' '

In [70]:
chr(98)

'b'

In [74]:
for var in range(65,91):
    print(chr(var),end=",")

A,B,C,D,E,F,G,H,I,J,K,L,M,N,O,P,Q,R,S,T,U,V,W,X,Y,Z,

In [75]:
#bitwise operators

In [76]:
bin(5)

'0b101'

In [79]:
hex(29)

'0x1d'

In [80]:
oct(20)

'0o24'

In [81]:
a = 101
b = 110

In [82]:
a&b

100

In [83]:
a|b

111

In [84]:
a^b  #XOR

11

In [85]:
a<<1

202

In [86]:
a = 5
b = 8

In [87]:
bin(5)

'0b101'

In [88]:
a<<1

10

In [89]:
bin(10)

'0b1010'

In [90]:
a<<2

20

In [91]:
bin(20)

'0b10100'

In [92]:
bin(8)

'0b1000'

In [93]:
b>>1

4

## Type Conversion

1. Implicit
2. Explicit

In [94]:
a = 10
b = 54.678

In [95]:
a+b   #implicit

64.678

In [96]:
a*b

546.78

In [97]:
#explicit

In [98]:
#int
#float
#complex
#tuple
#list
#dict
#set

In [99]:
a = input("Enter any value : ")

Enter any value : 123

In [100]:
a

'123'

In [101]:
int('123')

123

In [102]:
int('2345')

2345

In [105]:
a = int(input("Enter any value : "))
print(a)
print(type(a))

Enter any value : 1234
1234
<class 'int'>

In [104]:
a

1234

In [106]:
b = int(input("Enter something : "))

Enter something : abc

ValueError: invalid literal for int() with base 10: 'abc'

In [107]:
b = int(input("Enter something : "))

Enter something : 45.67

ValueError: invalid literal for int() with base 10: '45.67'

In [110]:
b = float(input("Enter something : "))
print(type(b))

Enter something : 123.456
<class 'float'>

In [111]:
s = input("Enter : ")

Enter : 123.456

In [113]:
float(s)

123.456

In [114]:
b = float(input("Enter something : "))
print(type(b))

Enter something : 123
<class 'float'>

In [115]:
b

123.0

In [117]:
l = list((1,2,3,4,5))

In [118]:
l

[1, 2, 3, 4, 5]

In [119]:
l = list('python')

In [120]:
l

['p', 'y', 't', 'h', 'o', 'n']

In [121]:
l = list(['python'])

In [122]:
l

['python']

In [135]:
l = list([['python','java','ruby']])

In [137]:
l

[['python', 'java', 'ruby']]

In [139]:
l[0][0]

'python'

In [134]:
a = [['python','java','ruby']]

In [131]:
a[0]

['python', 'java', 'ruby']

In [141]:
t = tuple((1,2,3,4))

In [142]:
t

(1, 2, 3, 4)

In [143]:
t = 1,2,3,4,5,6

In [144]:
type(t)

tuple

In [145]:
t

(1, 2, 3, 4, 5, 6)

In [146]:

d  = {
    'name' :'simran',
    'city' : 'jaipur',
    'state' : 'rajasthan',
}

In [147]:
d

{'name': 'simran', 'city': 'jaipur', 'state': 'rajasthan'}

In [148]:
d.items()

dict_items([('name', 'simran'), ('city', 'jaipur'), ('state', 'rajasthan')])

In [149]:
d = dict([('name','simran'),('city','jaipur'),('state','rajasthan')])

In [150]:
d

{'name': 'simran', 'city': 'jaipur', 'state': 'rajasthan'}

In [151]:
s = set([1,2,3,4,5])

In [152]:
s

{1, 2, 3, 4, 5}

In [153]:
l = [1,2,3,4,4,5,6,10,10,56,3,3]

In [156]:
s = set(l)

In [157]:
len(s)

8