## Tuple

1. Sequential
2. Ordered
3. Immutable

In [1]:
#() -- > tuple

In [2]:
a = 1,2,3

In [3]:
type(a)

tuple

In [4]:
a = 1

In [5]:
type(a)

int

In [6]:
t = 1,

In [7]:
type(t)

tuple

In [8]:
t = ("simran",10000,"python",202.2)

In [9]:
type(t)

tuple

In [10]:
t1 = (1,2,3)
t2 = ("one","two","three")

In [11]:
t1 + t2

(1, 2, 3, 'one', 'two', 'three')

In [15]:
t1*6

(1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3)

In [16]:
t

('simran', 10000, 'python', 202.2)

In [17]:
t[0]

'simran'

In [19]:
t[0] = "python"  #immutable

TypeError: 'tuple' object does not support item assignment

In [20]:
t[::]

('simran', 10000, 'python', 202.2)

In [21]:
t[::-1]

(202.2, 'python', 10000, 'simran')

In [22]:
t[2:5]

('python', 202.2)

In [23]:
len(t)

4

In [26]:
t.__len__()

4

In [27]:
print(dir(t))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [30]:
t = (1,2,3,4,5,6,7,8,9,10,1,1,1,2,3,3)

In [29]:
len(t)

10

In [31]:
t.count(1)

4

In [32]:
t.count(5)

1

In [33]:
t.count(11)

0

In [34]:
t.index(10)

9

In [35]:
t.index(4,9)

ValueError: tuple.index(x): x not in tuple

In [36]:
t.index(4)

3

## Dictionary

In [37]:
d = {'key':'value'}  #dictionary

In [56]:
d = {'key1':'value1','key2':'value2'}

In [40]:
print(type(d))

<class 'dict'>

In [41]:
d['key1']

'value1'

In [42]:
d['key2']

'value2'

In [43]:
d['key2'] = "jaipur"

In [44]:
d['key2']

'jaipur'

In [45]:
d

{'key1': 'value1', 'key2': 'jaipur'}

In [57]:
d['key3'] = "Delhi"

In [48]:
d

{'key1': 'value1', 'key2': 'jaipur', 'key3': 'Delhi'}

In [49]:
l = [1,2,3,4]

In [50]:
l[3]

4

In [51]:
l[4] = "string"

IndexError: list assignment index out of range

In [52]:
print(dir(d))

['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [58]:
k = d.keys()

In [61]:
k = list(d.keys())

In [60]:
k[0]

TypeError: 'dict_keys' object is not subscriptable

In [62]:
k[0]

'key1'

In [63]:
k[1]

'key2'

In [64]:
k[2]

'key3'

In [66]:
values = list(d.values())

In [67]:
values

['value1', 'value2', 'Delhi']

In [68]:
values[0]

'value1'

In [69]:
values[1]

'value2'

In [70]:
values[2]

'Delhi'

In [72]:
print(*values)

value1 value2 Delhi

In [74]:
print(*t)

1 2 3 4 5 6 7 8 9 10 1 1 1 2 3 3

In [75]:
print(*12)

TypeError: print() argument after * must be an iterable, not int

In [76]:
print(*"python")

p y t h o n

In [77]:
d.items()

dict_items([('key1', 'value1'), ('key2', 'value2'), ('key3', 'Delhi')])

In [79]:
item = list(d.items())

In [81]:
item[0]

('key1', 'value1')

In [82]:
item[1]

('key2', 'value2')

In [83]:
item[2]

('key3', 'Delhi')

In [87]:
d1 = dict([['name','stuti'],['course','python'],['fees',10000]])

In [86]:
d1

{'name': 'stuti', 'course': 'python', 'fees': 10000}

In [91]:
d = {'key1':['value1','value2'],'key2':['value1','value2']}

In [92]:
d['key1'][1]

'value2'

In [93]:
data = {
    'simran':{'course':['python','advance python','data science'],'fees':[5000,10000,15000]},
    'manish' : {'course':[{'ethical hacking':['Linux','python']},'python'],'fees':[15000,10000]},
    'rajat' : {'course':[{'linux':['RHCSA','RHCSE']},'cloud','aws'] ,'fees':[15000,10000,8000]}
}

In [100]:
data['manish']['course'][0]['ethical hacking'][0]

'Linux'

In [101]:
data['rajat']['course'][0]['linux'][1]

'RHCSE'

In [102]:
data['rajat']['fees'][0]

15000

In [103]:
print(type(d))

<class 'dict'>

In [105]:
print(dir(d))

['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [106]:
d

{'key1': ['value1', 'value2'], 'key2': ['value1', 'value2']}

In [107]:
d['key1']

['value1', 'value2']

In [108]:
d.get('key1')

['value1', 'value2']

In [109]:
d.get('key3')

In [110]:
d2 = {}

In [113]:
d2 = d2.fromkeys(['key1','Key2','Key3'])

In [114]:
d2

{'key1': None, 'Key2': None, 'Key3': None}

In [115]:
d2 = d2.fromkeys(['key1','Key2','Key3'],'Default')

In [116]:
d2

{'key1': 'Default', 'Key2': 'Default', 'Key3': 'Default'}

In [118]:
d2['key1'] = "string"

In [119]:
d2

{'key1': 'string', 'Key2': 'Default', 'Key3': 'Default'}

In [120]:
d2 = dict.fromkeys(['name','course','place'],'Default')

In [121]:
d2

{'name': 'Default', 'course': 'Default', 'place': 'Default'}

In [122]:
name = input()
course = input()
place = input()

d2['name'] = name
d2['course'] = course
d2['place'] = place

surbhi
aws
jaipur

In [123]:
d2

{'name': 'surbhi', 'course': 'aws', 'place': 'jaipur'}

In [125]:
d2['name'] = "shreya"

In [126]:
d2['name']

'shreya'

In [127]:
d2

{'name': 'shreya', 'course': 'aws', 'place': 'jaipur'}

In [128]:
d2.setdefault('course','default')

'aws'

In [129]:
d2

{'name': 'shreya', 'course': 'aws', 'place': 'jaipur'}

In [130]:
d2.setdefault('state','Default')

'Default'

In [131]:
d2

{'name': 'shreya', 'course': 'aws', 'place': 'jaipur', 'state': 'Default'}

In [133]:
d2['state'] = "rajasthan"

In [134]:
d2

{'name': 'shreya', 'course': 'aws', 'place': 'jaipur', 'state': 'rajasthan'}

In [136]:
d2.pop('place')

'jaipur'

In [137]:
d2

{'name': 'shreya', 'course': 'aws', 'state': 'rajasthan'}

In [138]:
d2

{'name': 'shreya', 'course': 'aws', 'state': 'rajasthan'}

In [139]:
d3 = d2
d4 = d2.copy()

In [140]:
print(id(d2))

2245238760216

In [141]:
print(id(d3))

2245238760216

In [142]:
print(id(d4))

2245238842936

In [143]:
d3['place'] = 'jaipur'

In [144]:
d3

{'name': 'shreya', 'course': 'aws', 'state': 'rajasthan', 'place': 'jaipur'}

In [145]:
d2

{'name': 'shreya', 'course': 'aws', 'state': 'rajasthan', 'place': 'jaipur'}

In [146]:
d4

{'name': 'shreya', 'course': 'aws', 'state': 'rajasthan'}

In [147]:
d4.clear()

In [148]:
d4

{}

In [149]:
d

{'key1': ['value1', 'value2'], 'key2': ['value1', 'value2']}

In [150]:
d = {'key1':12,'key2':[10,20],'key3':(1,2,3),'key4':{'k':'v'}}

In [151]:
d

{'key1': 12, 'key2': [10, 20], 'key3': (1, 2, 3), 'key4': {'k': 'v'}}

In [152]:
#keys should be immutable

In [153]:
d = {1:12,'key2':[10,20],'key3':(1,2,3),'key4':{'k':'v'}}

In [154]:
d = {(1,2,3):12,'key2':[10,20],'key3':(1,2,3),'key4':{'k':'v'}}

In [155]:
d = {[1,2,3]:12,'key2':[10,20],'key3':(1,2,3),'key4':{'k':'v'}}

TypeError: unhashable type: 'list'

In [156]:
print(dir(d))

['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [157]:
d

{(1, 2, 3): 12, 'key2': [10, 20], 'key3': (1, 2, 3), 'key4': {'k': 'v'}}

In [158]:
d1 = {'city':'jaipur','state':'rajasthan'}

In [159]:
d.update(d1)

In [160]:
d

{(1, 2, 3): 12,
 'key2': [10, 20],
 'key3': (1, 2, 3),
 'key4': {'k': 'v'},
 'city': 'jaipur',
 'state': 'rajasthan'}

In [161]:
d1.update(d)

In [162]:
d1

{'city': 'jaipur',
 'state': 'rajasthan',
 (1, 2, 3): 12,
 'key2': [10, 20],
 'key3': (1, 2, 3),
 'key4': {'k': 'v'}}

In [163]:
d

{(1, 2, 3): 12,
 'key2': [10, 20],
 'key3': (1, 2, 3),
 'key4': {'k': 'v'},
 'city': 'jaipur',
 'state': 'rajasthan'}

In [164]:
d.update(name="shreya")

In [165]:
d

{(1, 2, 3): 12,
 'key2': [10, 20],
 'key3': (1, 2, 3),
 'key4': {'k': 'v'},
 'city': 'jaipur',
 'state': 'rajasthan',
 'name': 'shreya'}